<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>Додавання пропозиції</title>

</head>

<body>
<form th:method="POST" th:action="@{/newGoods}" th:object="${goods}" method="post" enctype="multipart/form-data">
    <label for="user_id">Введіть USER: </label>
    <input type="text" th:field="*{user_id}" id="user_id"/>
    <div style="color:red" th:if="${#fields.hasErrors('user_id')}" th:errors="*{user_id}">Name Error</div>
    <br/>
    <label for="name">Введіть назву: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
    <br/>
    <label for="description">Введіть опис пропозиції: </label>
    <input type="text" th:field="*{description}" id="description"/>
    <div style="color:red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Name Error</div>
    <br/>
    <h4>Який тип вашої пропозиції?</h4>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="type" value="SERVICE">
        <label class="form-check-label" >
            Річ
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="type" value="PRODUCT" checked>
        <label class="form-check-label" >
            Послуга
        </label>
    </div>

    <h4>Бажаєте завантажити фотографію?</h4>
    <input type="file" name="file" >

    <input type="submit" value="Створити!"/>
</form>
</body>

</html>