<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редагування користувача</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/userUpdate/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="firstName">Введіть ім'я: </label>
    <input type="text" th:field="*{firstName}" id="firstName"/>
    <div style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Name Error</div>
    <br/>
    <label for="firstName">Введіть прізвище: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Name Error</div>
    <br/>
    <label for="firstName">Введіть електронну адресу: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name Error</div>
    <br/>
<!--        <label for="firstName">Введіть роль: </label>-->
        <input hidden type="text" th:field="*{role}" id="role"/>
<!--        <div style="color:red" th:if="${#fields.hasErrors('role')}" th:errors="*{role}">Name Error</div>-->
<!--        <br/>-->
    <label for="firstName">Введіть пароль: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name Error</div>
    <br/>
    <input type="submit" value="Update!"/>
</form>

</body>
</html>