<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Про сайт</title>

    <link rel="stylesheet" type="text/css" href="../static/css/mainPageCSS/styles.css" th:href="@{/css/mainPageCSS/styles.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/mainPageCSS/header.css" th:href="@{/css/mainPageCSS/header.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/mainPageCSS/buttons.css" th:href="@{/css/mainPageCSS/buttons.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/text.css" th:href="@{/css/text.css}"/>


</head>
<body>
<header class="wrapper flex flex_between header bg__yellow">
    <div class="flex flex_align-center">
        <img src="../static/photo/logo.png" class="logo" th:src="@{photo/logo.png}"/>
        <a href="/index">Сайт де не ходять гроші</a>
        <r href="/about">Про сайт</r>
    </div>
    <a href="/new"><button class="button button__blue">Зареєструватися</button></a>
</header>
<span>
    <p class="text_center"><h1>Про сайт</h1></p>


</span>

</body>
</html>