<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Про сайт</title>

    <link rel="stylesheet" type="text/css" href="../static/css/mainPageCSS/styles.css" th:href="@{/css/mainPageCSS/styles.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/mainPageCSS/header.css" th:href="@{/css/mainPageCSS/header.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/mainPageCSS/buttons.css" th:href="@{/css/mainPageCSS/buttons.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/text.css" th:href="@{/css/text.css}"/>


</head>
<body>
<header class="wrapper flex flex_between header bg__yellow">
    <div class="flex flex_align-center">
        <img src="../static/photo/logo.png" class="logo" th:src="@{photo/logo.png}"/>
        <a href="/index">Сайт де не ходять гроші</a>
        <a href="/about" class="r">Про сайт</a>
    </div>
    <a href="/new"><button class="button button__blue">Зареєструватися</button></a>
</header>
<span>
    <h1 class="text_center">Про сайт</h1>
    <h3>Звертаючи увагу на те, що зараз мільони людей в Україні тікають від жахів війни та залишилися без своїх домівок
        і втратили роботу, волонтери продовжують їм допомагати але на жать це тимчасово. Тому ми розробили проект
        «Сайт де не ходять гроші».</h3>
    <h3>Пропоную абсолютно безкоштовно обміняти будь що, чи то послуга, чи річ.</h3>

</span>

</body>
</html>