<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Сайт де не ходять гроші</title>

    <link rel="stylesheet" type="text/css" href="../static/css/mainPageCSS/styles.css" th:href="@{/css/mainPageCSS/styles.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/home.css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/mainPageCSS/header.css" th:href="@{/css/mainPageCSS/header.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/mainPageCSS/buttons.css" th:href="@{/css/mainPageCSS/buttons.css}"/>
    <meta name="description" content="Website">

</head>
<body class="bg__dark">
<header class="wrapper flex flex_between header bg__yellow">
    <div class="flex flex_align-center">
        <img src="../static/foto/logo.png" class="logo" th:src="@{foto/logo.png}"/>
        <a href="#">Сайт де не ходять гроші</a>
        <r href="#">Про сайт</r>
    </div>
    <a href="/new"><button class="button button__blue">Зареєструватися</button></a>
</header>
<section class="wrapper home">
    <div class="flex flex_col flex_justify-center">
        <p>Що вибереш ти ?</p>
        <div class="flex flex_justify-center home-text">
            <div class="hand left_hand">
                <div class="flex flex_justify-center flex_align-center circle circle__yellow">
                    <a href="#">Хочу знайти річ для обміну</a>
                </div>
            </div>
            <div class="hand right_hand">
                <div class="flex flex_justify-center flex_align-center circle circle__blue">
                    <a href="#">Пропоную річ для обміну</a>
                </div>
            </div>
        </div>
    </div>
</section>

</html>